@import "../../modules/_base.scss";
/*Labels*/
.b-label{
    line-height:1;
}
.b-label__item,
.b-label__title{
    height:25px;
    line-height:25px;
    white-space:nowrap;
    display:inline-block;
    vertical-align:middle;
    margin:5px 10px 5px 0;
    font-size:rem(14px);
}

.b-label__item{
    position:relative;
    padding:1px 25px;
    box-shadow:0 0 1px #9c785a;
    background:$primary-light;
    border-radius:$border-radius;

    &:last-of-type{
        margin-right:0;
    }
}

.b-label__img{
    @include size(16px);
    border-radius:50%;
    position:absolute;
    top:5px;
    left:4px;
}

.b-label__remove{
    @extend .g-clearbutton;
    display:block;
    @include size(22px);
    line-height:22px;
    position: absolute;
    right: 1px;
    top: 1px;
    
}