@import "../../modules/_base.scss";
/*Labels*/
.b-label{
    line-height:1;
    position:relative;

    padding-left:60px;
}
.b-label__item,
.b-label__title{
    height:25px;
    line-height:25px;
    white-space:nowrap;
    display:inline-block;
    vertical-align:middle;
    margin:5px 10px 5px 0;
    font-size:rem(14px);
}

.b-label__title{
    position:absolute;
    left:0; top:0;
}

.b-label__item{
    position:relative;
    padding:1px 25px;
    box-shadow:0 0 1px #9c785a;
    background:$primary-light;
    border-radius:$border-radius;

    &:last-of-type{
        margin-right:0;
    }
}

.b-label__img{
    @include size(16px);
    border-radius:50%;
    position:absolute;
    top:5px;
    left:4px;
}

.b-label__remove{
    @extend .g-clearbutton;
    display:block;
    @include size(22px);
    line-height:22px;
    position: absolute;
    right: 1px;
    top: 1px;
    
}

.b-label__btn{
    @extend .g-clearbutton;
    height:25px;
    width:27px;
    margin:5px 0;
    line-height:18px;
    display:inline-block;
    vertical-align:middle;
    border-radius:$border-radius;
    background:$primary-light;
    box-shadow:inset 0 0 1px .2px $text-color;

    .g-icon-add--small{
        @include size(8px);
    }
}

.b-label__panel{
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    padding:10px;
    margin-top:8px;
    background:#fff;
    border-radius:$border-radius;
    border:1px solid $border-color;
    z-index:1000;
    display:none;

    &.active{
        display:block;
    }
}