/*Panel Input (Likeinput alt style)*/
@import "../../modules/_base.scss";
.g-panelinput{}
.g-panelinput__wrap{
    @extend .g-input;
    display:block;
    padding:0 30px 0 0;
    margin-bottom:10px;
    position:relative;
}
.g-panelinput__input{
    @extend .g-likeinput__input;
}

.g-panelinput__list{
    @extend .g-likeinput__list;
    margin:0;
    position:relative;
    border-radius:0;
    border-color:#fff;
}
.g-panelinput__item{
    @extend .g-likeinput__item;
    border-radius: $border-radius;
}
.g-panelinput__img{
    @extend .g-likeinput__img;
}

.g-panelinput__btn{
    @extend .g-clearbutton;
    @include size(20px);
    line-height:20px;
    position:absolute;
    top:7px;
    right:10px;
}
.g-panelinput__icon{
    @include size(20px);
    border-radius:50%;
}