@import "base";
/* Buttons */
.g-clearbutton{
    background:none;
    margin:0;
    padding:0;
    border:none;
    outline:0;
    text-align:center;
    text-decoration:none !important;
    cursor:pointer;
}
.g-btn{
    display:inline-block;
    vertical-align:middle;
    height:35px;
    line-height:35px;
    padding:0 20px;
    margin:0;
    color:#fff;
    font-size:rem($project-font-size);
    background: $primary;
    border-radius:$border-radius;
    border:1px solid $primary;
    cursor: pointer;
    outline:0;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
    @extend .g-transition;
    transition-property:border-color, background, color;

    &:hover,
    &:focus,
    &:active{
        color:#fff;
        background:darken($primary, 10%);
        border-color:darken($primary, 10%);
    }

    &:disabled,
    &.disabled{
        background:#98a4c7;
        border-color:#98a4c7;
        cursor:default;
    }
}

.g-btn--alt{
    background:none;
    color:$primary;

    &:hover,
    &:focus,
    &:active{
        background:$primary;
    }

    &:disabled,
    &.disabled{
        color:$text-color;
        opacity:.5;
        background:#fff;
        border-color:#bdb5af;
        cursor:default;
    }
}

.g-btn--wide{
    padding:0 45px;
}



