@import "base";
/* Forms */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    @include appearance(none);
}

.g-input,
.g-select,
.g-textarea,
.g-likeinput{
    display:inline-block;
    vertical-align:middle;
    padding:2px 10px 0;
    width:100%;
    margin-bottom: 42px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius:$border-radius;
    font-size:rem(14px);
    color:#444c52;
    outline:0;
    line-height:normal;

    &.error,
    .error > &{
        border-color:#ff5149;
    }
}

.g-input,
.g-select,
.g-textarea{
    @include placeholder{
        color:$border-color;
        opacity:1;
        text-overflow:ellipsis;
    }
}

.g-input,
.g-select{
    height:35px;
}


.g-textarea{
    min-height:70px;
    max-height:200px;
    padding:10px;
    resize:vertical;
}

.g-label{
    display:block;
    font-size:rem(14px);
    margin-bottom:8px;
    font-family: $font-bold;
    font-weight: 500;
}

.g-fieldset{
    border:none;
    padding:0;
    margin:0;
    position:relative;
}

.g-tip{
    display:block;
    font-size:rem(13px);
    position:absolute;
    left:11px; bottom:11px;
    color:#bdb5af;

    &.error,
    .error > &{
        color:#ff5149;
    }
}



