@import "base";
/*Grid*/
.g-container {
    width:100%;
    @include outer-container();
    padding:0 10px;
}


/*Default Grid*/
.g-column{
    width: 100%;
    float: left;
    min-height:1px;
}

.g-row{
    width:100%;
    margin:10px 0;
}

.g-clearfix,
.g-row{
    @include clearfix;
}

.g-col{
  @extend .g-column;

  @include media($tablet){
      margin-left:$grid-gutter;
      &:first-child{
          margin-left:0;
      }    
  }
}

@include media($tablet){
    .g-col--one-half{
        width:(100%-$grid-gutter)/2;
    }
    
    .g-col--one-third{
        width:(100%-$grid-gutter*2)/3;
    }
    .g-col--two-thirds{
        width: 2*(100%-$grid-gutter*2)/3 + $grid-gutter;
    }
    .g-col--one-fourth{
        width:(100% - $grid-gutter*3)/4;
    }
    .g-col--one-fifth{
        width: (100%-$grid-gutter*4)/5;
    }
}
